# Your snippets
#
# Atom snippets allow you to enter a simple prefix in the editor and hit tab to
# expand the prefix into a larger code block with templated values.
#
# You can create a new snippet in this file by typing "snip" and then hitting
# tab.
#
# An example CoffeeScript snippet to expand log to console.log:
#
# '.source.coffee':
#   'Console log':
#     'prefix': 'log'
#     'body': 'console.log $1'
#
# This file uses CoffeeScript Object Notation (CSON).
# If you are unfamiliar with CSON, you can read more about it here:
# https://github.com/bevry/cson#what-is-cson


'.text.html':
  '<ip3:list>':
    'prefix': 'ip3list'
    'body':  '''<ip3:list ${1:listpath="listpath"} ${2:template=""}>
      <headerrow>
      <headerrow>
      <rows>
      </rows>
      <footerrow>
      </footerrow>
    </ip3:list>
    '''

  '<ip3:dynamiclist>':
    'prefix': 'ip3dynamiclist'
    'body':  '''
    <ip3:dynamiclist ${1:listpath="listpath"} ${2:template=""}>
      <content>
        <ip3:list>
          <headerrow>
          <headerrow>
          <rows>
          </rows>
          <footerrow>
          </footerrow>
        </ip3:list>
      <content>
    </ip3:dynamiclist>
    '''

  '<ip3:dummyif>':
    'prefix': 'ip3dummy'
    'body':  '''<ip3:dummyif><content>
    <ip3:if item=${1:"page"} fieldName=${2:"Title"} condition=${3:"=''"}>
      <true>
        ${4://true}
      </true>
      <false>
        ${5://false}
      </false>
    </ip3:if>
    </content></ip3:dummyif>
    '''

  '<ip3:multilist>':
    'prefix': 'ip3multilist'
    'body':  '''<ip3:multilist ${1:name="listpath"} ${2:template=""}>
      <headerrow>
      <headerrow>
      <rows>
      </rows>
      <footerrow>
      </footerrow>
    </ip3:multilist>
    '''

  '<ip3:generallink>':
    'prefix': 'ip3generallink'
    'body':  '''<ip3:generallink ${1:name="External Test"}>
      <internal>
        <a href="<ip3:sublink />"> HTML </a>
      </internal>
      <media>
         <a href="<ip3:sublink />" target="_blank" title="PDF, <ip3:subsize format='#.0' />, opens in a new window"> PDF </a>
     </media>
     <external>
        <a href="<ip3:sublink />" target="_blank" title="Opens in a new window">Webcast </a>
     </external>
    </ip3:generallink>
    '''

  '<ip3:sublayout>':
    'prefix': 'ip3sublayout'
    'body':  '''<ip3:sublayout ${1:itemPath=" " /}>
    '''

  '<ip3:event>':
    'prefix': 'ip3event'
    'body':  '''<ip3:event ${1:ID="EventList"} ${1:SettingPath="/Library/Control-Settings/Event/Event-Settings"}>
    <HeaderRow>
    <tr>
        <td>
           <ip3:Field  Name="Event Subject - Header Text"></ip3:Field>
        </td>
        <td>
          <ip3:Field  Name="Start Date - Header Text"></ip3:Field>
        </td>
        <td>
          <ip3:Field Name="End Date - Header Text"></ip3:Field>
        </td>
        <td>
          <ip3:Field Name="Custom Date - Header Text"></ip3:Field>
        </td>
        <td>
          Event
        </td>
    </tr>
    </HeaderRow>
    <Rows>
    <tr>
       <td>
         <ip3:Field  Name="Event Subject"></ip3:Field>
       </td>
       <td>
         <ip3:Date  Name="Start Date"></ip3:Date>
       </td>
       <td>
         <ip3:Date  Name="End Date"></ip3:Date>
       </td>
       <td>
         <ip3:Field  Name="Custom Date"></ip3:Field>
       </td>
       <td>
         <a href="<ip3:ICSURL />"><ip3:LibField  Name="MS Alert Link Image" /></a>                  </a>
       </td>
    </tr>
    </Rows>
 </ip3:Event>
    '''

  '<ip3:latestitems>':
    'prefix': 'ip3latestitems'
    'body':  '''<ip3:latestitems ${1:itemPath=""} ${2:itemlevel="2"} ${3:sortby="date"} ${4:sortorder="desc"} ${5:settingpath=""}>
    <headerrow>
      <div class="">
    </headerrow>
    <rows>
    </rows>
    <norows>
      <div>No rows</div>
    </norows>
    <footerrow>
      </div>
    </footerrow>
  </ip3:latestitems>
    '''

  '<ip3:Menu>':
    'prefix': 'ip3menu'
    'body':  '''<ip3:Menu ${1:StartLevel="1"} ${2:MaxLevel="5"} ${3:Expanded="true"} ${4:ShowHome="true"} ${5:ShowCurrentAsLink="true"} ${6:ShowMenuImage="true"} ${7:GenerateID="true"} ${8:Tooltip="true"/}>
    '''

  '<ip3:iframe>':
    'prefix': 'ip3iframe'
    'body':  '''<iframe ${1:width="100%"} ${2:src="<ip3:field name="iframeURL" />"} ${3:height="<ip3:field name="iframeHeight" />" /}>
    '''

  '<ip3:Search>':
    'prefix': 'ip3search'
    'body':  '''<ip3:Search ${1:SettingPath=""}>
    <HeaderRow>
      <div id="searchtextbox">
        <ip3:SearchTextbox id="SearchTextbox" />
        <ip3:searchbutton htmlAttributes="class=SearchButton,id=SearchButton" />
      </div>
    </HeaderRow>
  </ip3:Search>
    '''

  '<ip3:imagegallery >':
    'prefix': 'ip3imagegallery'
    'body':  '''<ip3:imagegallery ${1:id="imagegallery"} ${3:listpath="/sitecore/media library/Images/G/Golden-Saint/content-images/image-library"}>
    <rows>
      <a title="<ip3:field name='Title' selfservable='false' />" href="<ip3:url />" class="view">
         <ip3:image width="157" htmlattributes='alt="",class="img-responsive"' />
      </a>
      <ip3:field name='Title' />
      <ip3:field name='Image Description' />
      <ip3:size />
      <ip3:Download HtmlAttributes="value=Download, class=dwndbtn" />
    </rows>
  </ip3:imagegallery>
    '''

  '<ip3:Sitemap>':
    'prefix': 'ip3Sitemap'
    'body':  '''<ip3:Sitemap ${1:StartPath="/homepage/about-us"} ${3:GenerateID="true"} ${4:MaxLevel="2"} ${4:Key="home"}>
    '''

  '<ip3:advanceurlproxy>':
    'prefix': 'ip3advanceurlproxy'
    'body': '''<ip3:advanceurlproxy  ${1:id=""}  ${2:includecontainer=""}  ${3:isencoded=""}  ${4:settingpath=""}  ${5:xpath=""} >
    </ip3:advanceurlproxy>'''

  '<ip3:breadcumb>':
    'prefix': 'ip3breadcrumb'
    'body': '''<ip3:breadcrumb>
    <headerrow>
    </headerrow>
    <rows>
    </rows>
    <footerrow>
    </footerrow>
    </ip3:breadcrumb>'''

  '<ip3:if>':
    'prefix': 'ip3if'
    'body': '''<ip3:if item=${1:"page"} fieldName=${2:"Title"} condition=${3:"=''"}>
      <true>
      </true>
      <false>
      </false>
    </ip3:if>'''

  'bootstrap container-fluid':
    'prefix':'container-fluid'
    'body':'''<div ${1:class="container-fluid"}>
      <div ${2:class="row"}>
        <div ${3:class="col"}>
        </div>
      </div>
    </div>
    '''


  '<ip3:field>':
    'prefix': 'ip3field'
    'body': '''<ip3:field ${1:name=""} />'''
